<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  Dinorun
  <canvas id='canvas' width='1280' height="720"></canvas>
  <h1>Spotify Web Playback SDK Quick Start Tutorial</h1>
  <h2>Open your console log: <code>View > Developer > JavaScript Console</code></h2>
  <span id="user-message"></span>
  <br>
  <button id='button1'>Signup</button>
  <form id="register[form]">
    <input type='text' id="register[username]" name="register[username]" placeholder="Username" required>
    <input type='email' id="register[email]" name='register[email]' placeholder="Email" required>
    <input type='password' id="register[password]" name='register[password]' placeholder="Password" required>
    <input type="submit" id="register[button]" value="Register">
  </form>
  <br>
  <button id='button2'>Login</button>
  <form id='login[form]'>
    <input type='text' id='login[email]' name='login[email]' placeholder='Email'>
    <input type='password' id='login[password]' name ='login[password]' placeholder='Password'>
    <input type='submit' id='login[button]' value='Sign in'>
  </form>
  <button id='button3'>Logout</button>
  <button id='start_game_btn'>Start Game</button>
  <button id='get_song'>Get Song</button>
  <div class='upload-music'>
    <%= render 'form', song: @song%>
  </div>
  <select id="song_selection">
    <option value="">--select--</option>
  </select>
  <div id='song_player'></div>
  <script>
    window.addEventListener('load', function() {
      var signup = function(event) {
        event.preventDefault()
        var isValid = document.getElementById("register[form]").checkValidity()
        var username = document.getElementById("register[username]")
        var email = document.getElementById("register[email]")
        var password = document.getElementById("register[password]")
        if (isValid) {
        $.ajax({
          url: '/user.json',
          type: "POST",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {user: {username: username.value, password: password.value, email: email.value}}
        }).done(function( data ) {
          username.value = ""
          email.value = ""
          password.value = ""
          userMessage = document.getElementById("user-message")
          if (data['username']) {
            userMessage.innerHTML = data['username'] + ' welcome to DinoRun!'
          } else {
            userMessage.innerHTML = 'Username or email are already taken!'
          }
        })}
      }
    
      var login = function(event) {
        event.preventDefault()
        var email = document.getElementById("login[email]")
        var password = document.getElementById("login[password]")
        $.ajax({
          url: '/session.json',
          type: "POST",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: {user: {password: password.value, email: email.value}}
        }).done(function( data ) {
          email.value = ""
          password.value = ""
          userMessage = document.getElementById("user-message")
          if (data['username']) {
            userMessage.innerHTML = data['username'] + ' welcome back to DinoRun!'
          } else {
            userMessage.innerHTML = 'Email or password is not correct!'
          }
        })
      }
    
      var logout = function() {
        $.ajax({
          url: '/session.json',
          type: "DELETE",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        }).done(function( data ) {
          console.log(data)
        })
      }
    
      document.getElementById('register[button]').addEventListener('click', signup)
      document.getElementById('login[button]').addEventListener('click', login)
      document.getElementById('button3').addEventListener('click', logout)
    
    
      $(document).ajaxComplete(function( event, xhr, settings ) {
        console.log('ajax complete')
        header_token = xhr.getResponseHeader('X-CSRF-Token')
        if (header_token) $('meta[name=csrf-token]').attr('content', header_token)
      })
    
    })
  </script>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
</body>
</html>
